//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 19 18:16:07 2019
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "P25" LEVEL 1;
COMP "b" LOCATE = SITE "P16" LEVEL 1;
COMP "c" LOCATE = SITE "P23" LEVEL 1;
COMP "d" LOCATE = SITE "P21" LEVEL 1;
COMP "e" LOCATE = SITE "P20" LEVEL 1;
COMP "f" LOCATE = SITE "P17" LEVEL 1;
COMP "g" LOCATE = SITE "P83" LEVEL 1;
COMP "an0" LOCATE = SITE "P33" LEVEL 1;
COMP "an1" LOCATE = SITE "P32" LEVEL 1;
COMP "an2" LOCATE = SITE "P26" LEVEL 1;
COMP "an3" LOCATE = SITE "P34" LEVEL 1;
COMP "clk" LOCATE = SITE "P54" LEVEL 1;
COMP "rst" LOCATE = SITE "P69" LEVEL 1;
COMP "BTN1" LOCATE = SITE "P48" LEVEL 1;
COMP "BTN2" LOCATE = SITE "P47" LEVEL 1;
COMP "BTN3" LOCATE = SITE "P41" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

