	NET "clk" LOC=P54;
	NET "rst" LOC=P69;
	NET "BTN3" LOC=P41;
	NET "BTN2" LOC=P47;
	NET "BTN1" LOC=P48;
	NET "SW[0]" LOC=P38;
	NET "SW[1]" LOC=P36;
	NET "SW[2]" LOC=P29;
	NET "SW[3]" LOC=P24;
	NET "LED[0]" LOC=P15;
	NET "LED[1]" LOC=P14;
	NET "LED[2]" LOC=P8;
	NET "LED[3]" LOC=P7;
	NET "LED[4]" LOC=P5;
	NET "LED[5]" LOC=P4;
	NET "LED[6]" LOC=P3;
	NET "LED[7]" LOC=P2;
	NET "a" LOC=P25;
	NET "b" LOC=P16;
	NET "c" LOC=P23;
	NET "d" LOC=P21;
	NET "e" LOC=P20;
	NET "f" LOC=P17;
	NET "g" LOC=P83;
	NET "an0" LOC=P33;
	NET "an1" LOC=P32;
	NET "an2" LOC=P26;
	NET "an3" LOC=P34;

	